
                   
              
            <!-- <div class="card">
                <h5 class="card-header">Repos</h5>
                <div class="card-block">

                    <div class="list-group">

                        <a *ngFor="let repo of githubUser.repos" href="{{repo.html_url}}" target="_blank" class="list-group-item list-group-item-action">
                            <span class="tag tag-info pull-xs-right">{{repo.watchers}} Watchers</span>
                            <span class="tag tag-success pull-xs-right m-r-05">{{repo.forks}} Forks</span>
                            <h6 class="list-group-item-heading">{{repo.name}}</h6>
                            <p class="list-group-item-text">{{repo.description}}</p>
                        </a>


                    </div>

                </div>
            </div>
       

 -->
