
    
  <div class="container-fluid">
    <div>
        <p><b>Here is a Github Search Profile</b></p>
        <p>Please enter a user name</p>
        <input type="text" [(ngModel)]="username" >
        <button (click)="search()">search</button>
      </div><br>
    <div class="row">
      <div  class="col-sm-6" >
        <img src="{{answer.avatar_url}}" alt="">
      </div>
      <div class="well">
      <div  *ngIf ="answer" class="col-sm-6" id="identity">
       
        <h5 class="hello">Login:{{answer?.login}}</h5>
        <h5 class="hello">Name:{{ answer?.name}}</h5>
        <h5 class="hello">Bio:{{ answer?. bio}}</h5>
        <h5 class="hello">Location:{{ answer?.location}}</h5>
        <h5 class="hello">Created:{{ answer?.created_at|date}}</h5>
        <a href="{{answer.html_url}}" target="_blank"><button class="list-group-item list-group-item-action active">View them in profile</button></a>
      </div>
    </div>
   </div>      
  </div>
   