
  <div class="row ">
      <div class="col-md-3 ">
          <p><b>Github Search Profile</b></p>
      </div>
      <div class=" col-md-6">

          <form id="searchForm">
              <div class="form-group">
                  <div class="input-group">
                      <input type="text" name="username" class="form-control" placeholder="Enter A Github Username...">
                      
                  </div>
                </div>
          </form>
      </div>
       <div class="col-md-3">
           <a href="https://github.com/claudinos"><i class="fa fa-github" aria-hidden="true"></i> Github</a>  
      </div>
  </div>
    