
  <div class="row ">
      <div class="col-md-3 ">
          <p><b>Github Search Profile</b></p>
      </div>
      

          <!-- <form id="searchForm"> -->
            
                  <div class="input-group">
                      <!-- <input type="text" name="username" [(ngModel)]="username"> -->
                      <input type="text" [(ngModel)]="username" >
                      <button (click)="search()">search</button>
                  </div>
        <!-- </form> -->
  </div>
       
  <img src="{{answer.avatar_url}}" alt="">
  <p class="hello">login:{{answer?.login}}</p>
  <p class="hello">name:{{ answer?.name}}</p>
  <p class="hello">bio:{{ answer?. bio}}</p>
  <p class="hello">location:{{ answer?.location}}</p>
  <p class="hello">created_at:{{ answer?.created_at|date}}</p>
  <!-- <p class="hello">public_repos:{{ answer.public_repos}}</p> -->
  